.nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding: 24px;
    position: fixed;
    width: 100%;
    z-index: 100;
    transition: background-color .4s;

}
.nav_show {
    background-color: black;
}
.nav_logo
{
    width: 100px;
    cursor: pointer;
}
.nav_avatar {
    width: 30px;
    object-fit: contain;
}
